
@{
    ViewBag.Title = "Mặt hàng bán với tổng số lượng nhiều nhất";
}

<h2>Sanphambannhieunhat</h2>
@if (ViewBag.Masp != null)
{
    <p>Mã sản phẩm: @ViewBag.Masp</p>
    <p>Tên sản phẩm: @ViewBag.Tensp</p>
    <p>Tổng số lượng bán: @ViewBag.Tongsl</p>
}
else
{
    <p>Không có sản phẩm nào trong danh sách bán hàng.</p>
}

