@{
    ViewBag.Title = "Giới thiệu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p style="text-align: justify; font-size: 20px"><i>Xin chào, tôi tên là Đỗ Đình Tuấn, sinh năm 2003 và quê ở Thanh Hóa. Hiện tại, tôi đang học tập tại Hà Nội, theo học ngành Công nghệ Thông tin tại Trường Đại Học Kinh tế Kĩ thuật Công nghiệp. Với niềm đam mê công nghệ và mong muốn phát triển bản thân trong lĩnh vực này, tôi luôn nỗ lực không ngừng để trau dồi kiến thức và kỹ năng, nhằm đạt được những mục tiêu lớn trong tương lai.</i></p>
</main>