@{
    ViewBag.Title = "Liên hệ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        08 Nguyễn Mộng Tuân, phường Nam Ngạn, Thành phố Thanh Hóa.
    </address>

    <address>
        <strong>Điên thoại:</strong> <a>0987546216</a><br />
        <strong>Hỗ trợ:</strong>   <a href="mailto:namtuan216@gmail.com">namtuan216@gmail.com</a>
    </address>
</main>