@{
    ViewBag.Title = "Trang chủ";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" >
        <h1 id="title" style="color: blue; text-align: center; ">Đỗ Đình Tuấn - 21103100756 - DHTI15A1CL</h1>


    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Thông tin sinh viên</h2>
            <p>
                <strong>MSSV: </strong><a>21103100756</a></br>
                <strong>Họ tên: </strong><a>ĐỖ ĐÌNH TUẤN</a></br>
                <strong>Giới tính: </strong><a>Nam</a></br>
                <strong>Ngày sinh: </strong><a>20/10/2003</a></br>
                <strong>Nơi sinh: </strong><a>Thanh Hóa</a></br>

            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Xem thêm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Thông tin sinh viên</h2>
            <p>
                <strong>Lớp học: </strong><a>DHTI15A1CL</a></br>
                <strong>Khóa học: </strong><a>2021 - 2025</a></br>
                <strong>Bậc đào tạo: </strong><a>Đại học</a></br>
                <strong>Loại hình đào tạo: </strong><a>Chất lượng cao - Chính quy</a></br>
                <strong>Ngành: </strong><a>Công nghệ thông tin</a></br>

            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Xem thêm &raquo;</a></p>
        </section>

    </div>
</main>