@{
    ViewBag.Title = "Giới thiệu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <a>MSSV: 21103100756</a></br>
    <a>Lớp: DHTI15A1CL</a></br>
    <a>Giới tính: Nam</a></br>
    <a>Ngày sinh: 20/10/2003</a></br>
    <a>Quê quán: Thanh Hóa</a>
</main>