@{
    ViewBag.Title = "Liên hệ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        218 Đ. Lĩnh Nam, Vĩnh Hưng, Hoàng Mai, Hà Nội<br />
      
    </address>

    <address>
        <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">namtuan216@gmail.com</a><br />
        <strong>Liên hệ:</strong> <a href="mailto:Marketing@example.com">0987546216</a>
    </address>
</main>