
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhongDungLayout</title>
</head>
<body>
    <div> 
        <h1 style="color: red">Đỗ Đình Tuấn(View không đùng layout)</h1>
    </div>
</body>
</html>
